/* Agrega tus estilos personalizados aquí */
*{
    font-family: "Gothic Demi Cond", sans-serif;
}
body {
    padding-top: 56px; /* Altura de la barra de navegación */
    background-color: #fcffff;
}
#fondo{
    background-image: url(1AtardecerPacifico_1.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    font-family: "Gothic Demi Cond", sans-serif;
}
#about-me{
    text-align: justify;
}
#sobre-mi{
    text-align: justify;
}

section {
    padding: 60px 0;
}

img.img-fluid {
    max-width: 100%;
    height: auto;
}
#proyectos{
    background-color: #84b6f4;
    text-align: justify;
}
.carousel-control-prev,
.carousel-control-next {
    font-size: 16px; /* Tamaño del texto */
    width: 50px; /* Ancho del botón */
    height: 50px; /* Altura del botón */
    margin-top: auto; /* Centrar verticalmente */
    margin-bottom: auto; /* Centrar verticalmente */
    background-color: #333;
}

/* Cambia el tamaño en hover y oscurece el color */
.carousel-control-prev:hover,
.carousel-control-next:hover {
    font-size: 30px; /* Tamaño del texto al pasar el ratón por encima */
    opacity: 0.9; /* Opacidad al pasar el ratón por encima */
}
a{
    color: black;
}
